.content {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    padding-top: 20px;
    align-content: baseline;
}

.div-board-list-wrap {
    width: 1000px;
}

.a-board-title {
    color: white;
    text-decoration: none;
}

.div-carousel-wrap {
    width: 500px;
    height: 500px;
    /*opacity: 0.7;*/
}

#th-board-contents {
    width: 1000px;
}

div.code-toolbar>.toolbar a, div.code-toolbar>.toolbar button, div.code-toolbar>.toolbar span {
    font-size: 1em;
    background: transparent;
    padding: 0px;
}