<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.blog.board.BoardMapper">
    <select id="getBoard">
        SELECT a.iboard boardId, a.title, d.NAME subjectName, c.unm nm, a.created_at createdAt
        FROM board a
        INNER JOIN board_category b
        ON a.icategory = b.icategory
        INNER JOIN user c
        ON a.iuser = c.iuser
        INNER JOIN board_subject d
        ON a.isubject = d.isubject
        WHERE b.icategory = #{categoryId}
        <if test="null != keyword">
            AND (a.title LIKE CONCAT('%', #{keyword}, '%') OR a.contents LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY a.iboard DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="setBoard">
        SELECT b.icategory categoryId, a.iboard boardId, c.iuser userId, b.name boardCategoryName, a.title, a.contents, c.unm writer, a.created_at createdAt, a.updated_at updatedAt
        FROM board a
        INNER JOIN board_category b
        ON a.icategory = b.icategory
        INNER JOIN user c
        ON a.iuser = c.iuser
        WHERE a.iboard = #{boardId}
    </select>

    <insert id="insBoard" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board SET
        icategory = #{categoryId},
        isubject = ${subjectId},
        title = #{title},
        contents = #{contents},
        iuser = #{userId}
    </insert>

    <delete id="delBoard">
        DELETE FROM board WHERE iboard = #{boardId}
    </delete>

    <update id="updBoard">
        UPDATE board SET
        title = #{title},
        isubject = ${subjectId},
        contents = #{contents}
        WHERE iboard = #{boardId}
    </update>

    <select id="getBoardCategory">
        SELECT icategory categoryId, name boardName FROM board_category WHERE icategory = #{categoryId}
    </select>

    <select id="getBoardSubject">
        SELECT isubject subjectId, NAME subjectName FROM board_subject WHERE icategory = #{categoryId}
    </select>
</mapper>