<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="modal">
  <div id="alertModal" class="modal" onclick="closeModal(event)">
      <div class="modal-content" onclick="event.stopPropagation()">
          <div class="modal-header">
              <h2>알림</h2>
              <button class="modal-close" onclick="closeModal()">&times;</button>
          </div>
          <div class="modal-body">
              <div class="modal-message" id="modalMessage">메시지</div>
          </div>
          <div class="modal-footer">
              <button class="modal-btn" onclick="closeModal()">확인</button>
          </div>
      </div>
  </div>
</html>